<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="41948NedkoNedev.TicTacToeUltimate" Publisher="CN=C7A17E2C-D716-426E-9D1E-314F36154135" Version="1.0.0.8" />
  <Properties>
    <DisplayName>Tic Tac Toe Ultimate</DisplayName>
    <PublisherDisplayName>Nedko Nedev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TTTExtended.App">
      <VisualElements DisplayName="Tic Tac Toe Ultimate" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Tic Tac Toe Ultimate" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="wideLogoOnly" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#007f00" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.printTaskSettings" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>